body {
 background-color: #F0FFFF;
 color: #000000;	
 font-family: system-ui;
 margin: 10px;
}

a {
	text-decoration:none;
	color: orange;
}
s
h1 {
 color: #000000;
 text-align: center;
  border: 3px groove #F0FFFF;
} 

h3 {
 background-color: #F0FFFF;
 color: #333300;
 text-align: left;
}

body {
	width: 1000px;
	margin: 0 auto;
}